.categoryPostSale {
    background: #eee;
    padding: 20px 0;
}

.categoryPostSale .PostSaleLeft {
    background: #fff;
    border: 1px solid lightgray;
}

.categoryPostSale .PostSaleLeft .title_border_left {
    border-left: 5px solid #009385;
    color: #009385;
    font-weight: 700;
    font-size: 22px;
    padding-left: 10px;
    margin: 20px 0;
}

#searchBox .searchInput button {
    background: #009385;
    color: #fff !important;
    display: block;
    margin: auto;
    padding: 6px;
    cursor: pointer;
    border: none;
}

.categoryPostSale .PostSaleLeft .itemPostSale {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.categoryPostSale .PostSaleLeft .itemPostSale .contentPostSale a {
    text-decoration: none;
}

.categoryPostSale .PostSaleLeft .itemPostSale .contentPostSale .link_show {
    display: inline-block;
    padding: 5px 30px;
    background: #009385;
    color: #fff;
    border-radius: 30px;
    margin-top: 8px;
}

.pagePostSale {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.siderbar_new .title_box_sidebar {
    background: #009385;
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
    color: #fff;
    padding-top: 10px;
    text-transform: uppercase;
}

.siderbar_new .link_show_sidebar {
    display: block;
    padding: 5px 0;
    color: #fff !important;
    background: #009385;
    text-align: center !important;
}

.siderbar_new .UvNew {
    background: #fff;
}

.bdLightGray {
    border: 1px solid lightgray;
}

.siderbar_new .job_post_sidebar {
    text-decoration: none;
}

.siderbar_new .job_post_sidebar .item_job_post {
    padding: 10px;
    border-bottom: 1px solid lightgray;
    text-decoration: none;
}

.siderbar_new .job_post_sidebar .item_job_post:hover {
    background: #c6ecf9;
}

.siderbar_new .job_post_sidebar .item_job_post .title_job_post {
    color: #000 !important;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}

.siderbar_new .job_post_sidebar .item_job_post .salary_black {
    color: #000;
}

.PagesNewsContent {
    background: #eee;
}

.PagesNewsContent .contentInfoNews {
    padding: 20px;
    background: #fff;
}

.PagesNewsContent .contentInfoNews h1 {
    color: #009385;
    font-weight: bold;

}

.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #009385;
    border: 1px solid #009385;
}

.slick-prev:hover, .slick-next:hover {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #009385;
    border: 1px solid #009385;
}

.recruitmentNews .title_recrui {
    color: red;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.recruitmentNews .News {
    padding: 20px;
}

.fb-share-button {
    display: inline-block;
}

.share_facebook {
    border: 1px solid orange;
    padding: 5px;
    border-radius: 3px;
    color: #fff;
    background: orange;
}

.copy_link_post {
    margin-bottom: 0 !important;
    display: inline-block;
    position: relative;
    width: 60%;
}

.copy_link_post .input-group-append {
    position: absolute;
    z-index: 9;
    right: 0;
    top: 0;
    background: #fff;
    font-size: 14px;
    padding: 0;
    display: inline-block;
}

.copy_link_post .input-group-append button {
    font-size: 14px;
    padding: 3px 10px;
}

.copy_link_post input {
    width: 100%;
    padding: 2px;
}

.list_re_voucher {
    background: #fff;
}

@media (max-width: 500px) {
    .section_box_content .title_box a {
        font-size: 16px;
    }

    .noti_mobile_show .close_modal {
        color: #fff;
        background: red;
        position: absolute;
        top: 0;
        right: 3px;
        display: block;
        padding: 5px 10px;
    }

    .noti_mobile_show .contentNoti .modal_dowload_title h3 {
        font-size: 21px;
        margin-bottom: 5px;
    }

    .noti_mobile_show .contentNoti .modal_dowload_title p {
        font-size: 14px;
        margin-bottom: 0;
    }

    .noti_mobile_show .modal_dowload {
        color: #fff !important;
        position: absolute;
        z-index: 11111;
        top: 75%;
        left: 0;
        text-align: center;
        width: 100%;
        padding-top: 5px;
    }
    #message_noti_mobile .modal-dialog
    {
        transform: translateY(50%);
    }

    .noti_mobile_show .modal_dowload img {
        width: 150px;
    }

    .fixel_mobile_dowload {
        display: inline-block;
        color: #fff;
        padding: 5px;
        font-size: 16px;
    }

    .fixel_mobile_dowload {
        position: fixed;
        z-index: 99999;
        bottom: 0;
        background: #ff9200;
        width: 100%;
        max-width: 100%;
    }

    .fixel_mobile_dowload .content_fixel {
        display: inline-grid;
        vertical-align: top;
    }

    .fixel_mobile_dowload a {
        color: #ffff;
        background: #009385;
        display: inline-block;
        float: right;
        padding: 5px 10px;
        margin-right: 5px;
        position: absolute;
        top: 15px;
        right: 3px;
    }

    .fixel_mobile_dowload span {
        position: absolute;
        top: -15px;
        border-radius: 50%;
        background: red;
        padding: 0 6px;
        font-size: 16px;
        right: 7px;
        z-index: 9999;
    }

    .fixel_mobile_dowload h3 {
        display: inline-block;
        color: #fff;
        font-size: 18px;
    }

    .fixel_mobile_dowload .content_fixel p {
        display: inline-block;
        margin-bottom: 0;
        font-size: 14px;
    }
    .slick-prev {
        left: -10px;
    }

    .slick-next {
        right: -10px;
    }

}
