.resgister_select .box_resgister {
    border-radius: 6px;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid lightgray;
}

.resgister_select .box_resgister h1 {
    border-left: 5px solid #009385;
    font-size: 22px;
    color: #009385;
    font-weight: 700;
    padding-left: 10px;
    text-transform: uppercase;
}

.resgister_select .box_resgister ul li a {
    padding: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
}

.resgister_select .box_resgister .option_employer_register {
    background: #009385;
}

.resgister_select .box_resgister .option_employee_register {
    background: orange;
}

.resgister_select .box_resgister .option_teacher_register {
    background: green;
}

.form_create_employer .box_create_employer {
    border-radius: 6px;
    padding: 15px 20px;
    background: #fff;
    border: 1px solid lightgray;
}

.form_create_employer .box_create_employer p.text-title {
    border-left: 5px solid #009385;
    font-weight: 700;
    padding-left: 5px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.form_create_employer .box_create_employer .supporter {
    border: 1px #00999f solid;
    border-radius: 3px;
    padding: 15px;
    text-align: center;
}

.btn_employee_res {
    background: #307df1;
    border-radius: 13px;
    width: 350px;
    display: inline-block;
    margin: 10px auto 0;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
}

.btn_employer_res {
    background: #ffa800;
    border-radius: 13px;
    width: 350px;
    display: inline-block;
    margin: 10px auto 0;
    font-size: 20px;
    line-height: 38px;
    color: #fff;
}

.btn_employee_res:hover, .btn_employer_res:hover {
    color: #fff;
    text-decoration: none;
}

.res_img {
    text-align: center;
}

.resgedit {
    border: 1px solid #ccc;
    padding: 25px;
    border-radius: 5px;
    margin: 30px;
}

.res_content p {
    color: inherit;
}

.bg_content_regedit {
    background-image: url(/assets/image/banner_home1.png);
    background-size: 100% 100%;
}
.rs_video {
    background: #fff;
    width: 100%;
    margin-bottom: 10px;
}

.rs_video iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}

.rs_video h3 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #009385;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .resgedit {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        margin: 0 5px;
    }

    .btn_employee_res, .btn_employer_res {
        width: auto;
        padding: 0 25px;
    }
}
@media (max-width: 980px) {
    .rs_video iframe {
        width: 100%;
        height: 400px;
        margin-bottom: 10px;
    }

    header .nav_list_dropdown a.dropdown-item {
        color: #000 !important;
    }
}
@media (max-width: 700px) {
    .resgedit
    {
        margin-bottom: 15px;
    }
}@media (max-width: 500px) {
    .rs_video iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
}