#form-cv{
	width: 100%;
	float: left;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color:#070000;	

}

.cv-div{
	padding-left: 24px;
	background-color: #595959;
	float: left;
	width: 766px;
}

#sortable .cvo-block{
	margin-bottom: 15px;
	float: left;
	width: 94%;
	background: #284558;
}

#box01{
    border-top: none!important;
    padding-bottom: 0px!important;
    background: url(hdl.png.html) top center no-repeat;
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
#cv-right #box01 h3{
	padding-top: 20px;
}

#sortable .icoweb i.fa{
	float: left;
}
#cv-main{
	float: left;
	width: 100%;
	background: #284558;
	border-bottom: solid 1px #d2ebcc;
	border-right: solid 1px #d2ebcc;
	margin-top: 0px;
	border-top: 0px;
}
#cv-top{		
    text-align: center;  
	float: left;
	width: 100%; 
	padding: 0px;
	margin: 0px;
}

#cvo-profile{
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.box-01{	
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #284558;
	line-height: 0px;

}
#cv-content{
    width: 53%;
    float: right;
    position: relative;
    padding-top: 30px;
    padding-left: 28px;
    color: #374d59;
    background-color: #f0eff2;
}
#cv-right{
	width: 42%;
	float: left;	
    color: #fff;
    padding-top: 0px;

}
p.skill-name input{
	color: #070000!important;
}

#cv-right .ctbx {
	padding: 0;
	margin:0;
	border:0;
}
.skill{
	float: left;
	width: 100%;
}


#cv-top h1{
	font-size: 30px;
    padding: 15px 30px 5px 45px;
    line-height: normal;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 0;
    letter-spacing: 5px;
    margin-left: 0px;
    color: #0096a5;
    font-weight: 500;
}

#box-hvt{
	display: inline-block;
    width: 433px;
    padding-top: 83px;
    height: 209px;
    background-color: #fff;
    border-top: solid 1px #f0eff2;
    border-right: solid 1px #f0eff2;

}

#cv-top h2{
	font-size: 18px;
    text-align: left;
    color: #333333;
    padding-left: 43px;
    line-height: 18px;
}

.box-01 p h2{	
    padding-top: 10px;
}
#cv-content p{
	margin-bottom: 5px
}
#cv-content .ir a{
	color: #2ebb2f
}
#cv-right .h3, #cv-right h3, #cv-content .head{
	font-size: 18px;    
    margin-top: 0;
    text-transform: uppercase;
    font-weight: bold;
}
#cv-right h3{
	margin-bottom: 0px;
	text-align: left;
	margin-top: 10px;
	padding: 3px 10px 3px 20px;
	float: left;
	width: 100%;
	background:url('bg2.png') top left no-repeat;
	height: 49px;
	padding-top: 20px;
	margin-left: -22px;
}

#cv-right #box01 h3{
	width: 94%;
	margin-top: 0px;
}
#sortable #box01 p{
	width: 100%;
	margin-bottom: 0px;
	margin-top: 0px;
}

#sortable .cvo-block p{
	float: left;
	width: 100%;
}

#cv-right h3 span{
	color: #fff;
}

#cv-right #box01 h3 span{
	color: #fff;
}

#cv-right .ir{
	float: left;width: 100%;
}

#box01 h3{
	text-align: center;
}

#cv-content .head {
    height: 50px;
    line-height: 30px;
	background: url(head.png) top left no-repeat #f0eff2;
    padding-top: 3px;
    padding-left: 20px;
}


#cv-right .h3{
	height: 45px;
	text-align: center;
	width: 100%;
}

#cv-right .h3 span{
	margin: 3px 0px;
	color: #000000;
	line-height: 43px;
}
#cv-content h3{	
    font-size: 15px;
    font-weight: bold;
}

.ctbx{
	padding-left: 10px;
	padding-right: 10px
}

#cv-content span{
	display: inline-block;	
	z-index: 9999;
	color: #374d59;
}

#cv-content .block-title{
	color: #fff
}

#cv-right .h3:first-child{
	margin-top: 0
}
.ctbx{
	margin-bottom: 20px;
	position: relative;
}
.ctbx .r5 .h3{
	text-transform: uppercase;
}
.ctbx:hover {
	box-shadow: 0 0 1px #999;
}
.ctbx:hover .fieldgroup_controls{
	display: block;
}
[cvo-form-field] {
    cursor: text;
}
#box-hvt{
	float: left;
}
#cvo-profile-avatar-wraper{	    
    float: left;
    width: 232px;
    height: 219px;
    padding: 30px 50px ;
    background: #284558;
    margin: 0px
}
#cvo-profile-avatar-wraper img{
    width: 232px;
    height: 219px;
    border: solid 2px #00a4d2;
}
#line-seperate {
    height: 25px;
    /*background-color: #e3ecec;*/
}
.bar-exp div {
    float: left;
    height: 8px;
    background: #00a4d2;
    
}
.bar-exp {
  	width: 100%;
  	background: #e6e5ea;
  	height: 8px;
  	float: right;
  	margin-bottom: 12px;
}      
.icoweb label{
	display: block;
	color:#627e88;
}
.box-contact{
	font-size: 15px;
}
#sortable .icoweb{
	line-height: 30px;
	text-align: center;
	color: #fff;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	border-bottom:solid 1px #fff;
}

#sortable{
	float: left;
	width: 100%;
	margin-top: 0px;
}

#sortable .icoweb.cvi-info {
	border: none;
}


.head i.fa, .h3 i.fa{
	font-size: 12px;
	border: solid 1px #7c7a79;
	border-radius: 50%;
	width: 12px;
	color: #7c7a79;
	/*background: white;*/
	margin-bottom: 5px;
	text-align: center;
	padding: 4px;
}
div#box01 span {
    width: 230px;
}
span.box-content {
    width: 300px;
}
.exp-content,.exp-subtitle,span.exp-title {
    width: 100%;
}
